:root {
    --bg-color: #050C9C;
    --secondary-color: #6DC5D1;
    --text-color: #151515;
}

a{
    color: var(--text-color);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: var(--text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-link{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6f7ff;
}

.action-link {
    color: #007BFF;
    text-decoration: none;
}

.action-link:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.header {
    margin-bottom: 20px;
}

.header h3 {
    text-align: center;
}

.header h2 {
    margin: 0;
}