* {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 40px;
    
}
form {
    border-width: 5px;
    border-style: solid;
    border-top-color: blue;
    border-right-color: brown;
    border-bottom-color: rgb(32, 50, 13);
    border-radius: 10px;
    margin-top: 80px;
    margin-right: 50px;
    margin-bottom: 80px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 1%;
}
form input.menu {
    width: 50%;
    height: 50px;    
}